In [1]:
import numpy as np
import pandas as pd
import requests as reqs
import matplotlib.pyplot as plt
%matplotlib inline
import json
import os
import re
from pandas.io.json import json_normalize  
import ast

In [2]:
petdb_path = r"C:\Users\natasha\Downloads\PetDB"
print(os.listdir(petdb_path))

for petdb in os.listdir(petdb_path):
    print(petdb)

['New folder', 'petdb_26640.json', 'petdb_26641.json', 'petdb_26642.json', 'petdb_26643.json', 'petdb_26644.json', 'petdb_26645.json', 'petdb_26646.json', 'petdb_26647.json', 'petdb_26648.json', 'petdb_26649.json', 'petdb_26650.json', 'petdb_26651.json', 'petdb_26652.json', 'petdb_26653.json', 'petdb_26654.json', 'petdb_26655.json', 'petdb_26656.json', 'petdb_26657.json', 'petdb_26658.json', 'petdb_26659.json', 'petdb_26660.json', 'petdb_26661.json', 'petdb_26662.json', 'petdb_26663.json', 'petdb_26664.json', 'petdb_26665.json', 'petdb_26666.json', 'petdb_26667.json', 'petdb_26668.json', 'petdb_26669.json', 'petdb_26670.json', 'petdb_26671.json', 'petdb_26672.json', 'petdb_26673.json', 'petdb_26674.json', 'petdb_26675.json', 'petdb_26676.json', 'petdb_26677.json', 'petdb_26678.json', 'petdb_26679.json', 'petdb_26680.json', 'petdb_26681.json', 'petdb_26682.json', 'petdb_26683.json', 'petdb_26684.json', 'petdb_26685.json', 'petdb_26686.json', 'petdb_26687.json', 'petdb_26688.json', 'petdb_26689.json', 'petdb_26690.json', 'petdb_26691.json', 'petdb_26692.json', 'petdb_26693.json', 'petdb_26694.json', 'petdb_26695.json', 'petdb_26696.json', 'petdb_26697.json', 'petdb_26698.json', 'petdb_26699.json', 'petdb_26700.json', 'petdb_26701.json', 'petdb_26702.json', 'petdb_26703.json', 'petdb_26704.json', 'petdb_26705.json', 'petdb_26706.json', 'petdb_26707.json', 'petdb_26708.json', 'petdb_26709.json', 'petdb_26710.json', 'petdb_26711.json', 'petdb_26712.json', 'petdb_26713.json', 'petdb_26714.json', 'petdb_26715.json', 'petdb_26716.json', 'petdb_26717.json', 'petdb_26718.json', 'petdb_26719.json', 'petdb_26720.json', 'petdb_26721.json', 'petdb_26722.json', 'petdb_26723.json', 'petdb_26724..json', 'petdb_26725.json', 'petdb_26726.json', 'petdb_26727.json', 'petdb_26728.json', 'petdb_26729.json', 'petdb_26730.json', 'petdb_26731.json', 'petdb_26732.json', 'petdb_26733.json', 'petdb_26734.json', 'petdb_26735.json', 'petdb_26736.json', 'petdb_26737.json', 'petdb_26738.json', 'petdb_26739.json', 'petdb_26740.json', 'petdb_26741.json', 'petdb_26742.json', 'petdb_26743.json', 'petdb_26744.json', 'petdb_26745.json', 'petdb_26746.json', 'petdb_26747.json', 'petdb_26748.json', 'petdb_26749.json', 'petdb_26750.json', 'petdb_26751.json', 'petdb_26752.json', 'petdb_26753.json', 'petdb_26754.json', 'petdb_26755.json', 'petdb_26756.json', 'petdb_26757.json', 'petdb_26758.json', 'petdb_26759.json', 'petdb_26760.json', 'petdb_26761.json', 'petdb_26762.json', 'petdb_26763.json', 'petdb_26764.json', 'petdb_26765.json', 'petdb_26766.json', 'petdb_26767.json', 'petdb_26768.json', 'petdb_26769.json', 'petdb_26770.json', 'petdb_26771.json', 'petdb_26772.json', 'petdb_26773.json', 'petdb_26774.json', 'petdb_26775.json', 'petdb_26776.json', 'petdb_26777.json', 'petdb_26778.json', 'petdb_26779.json', 'petdb_26780.json', 'petdb_26781.json', 'petdb_26782.json', 'petdb_26783.json', 'petdb_26784.json', 'petdb_26785.json', 'petdb_26786.json', 'petdb_26787.json', 'petdb_26788.json', 'petdb_26789.json', 'petdb_26790.json', 'petdb_26791.json', 'petdb_26792.json', 'petdb_26793.json', 'petdb_26794.json', 'petdb_26795.json', 'petdb_26796.json', 'petdb_26797.json', 'petdb_26798.json', 'petdb_26799.json', 'petdb_26800.json', 'petdb_26801.json', 'petdb_26802.json', 'petdb_26803.json', 'petdb_26804.json', 'petdb_26805.json', 'petdb_26806.json', 'petdb_26807.json', 'petdb_26808.json', 'petdb_26809.json', 'petdb_26810.json', 'petdb_26811.json', 'petdb_26812.json', 'petdb_26813.json', 'petdb_26814.json', 'petdb_26815.json', 'petdb_26816.json', 'petdb_26817.json', 'petdb_26818.json', 'petdb_26819.json', 'petdb_26820.json', 'petdb_26821.json', 'petdb_26822.json', 'petdb_26823.json', 'petdb_26824.json', 'petdb_26825.json', 'petdb_26826.json', 'petdb_26827.json', 'petdb_26828.json', 'petdb_26829.json', 'petdb_26830.json', 'petdb_26831.json', 'petdb_26832.json', 'petdb_26833.json', 'petdb_26834.json', 'petdb_26835.json', 'petdb_26836.json', 'petdb_26837.json', 'petdb_26838.json', 'petdb_26839.json', 'petdb_26840.json', 'petdb_30069.json', 'petdb_30109.json', 'petdb_30112.json', 'petdb_30167.json', 'petdb_31100.json', 'petdb_31444.json', 'petdb_31677.json', 'petdb_31743.json', 'petdb_31780.json', 'petdb_31799.json', 'petdb_32108.json', 'petdb_32153.json', 'petdb_32201.json', 'petdb_32205.json', 'petdb_32289.json', 'petdb_32301.json', 'petdb_32343.json', 'petdb_32377.json', 'petdb_32501.json', 'petdb_32578.json', 'petdb_32777.json', 'petdb_32807.json', 'petdb_32839.json', 'petdb_32953.json', 'petdb_32984.json', 'petdb_32999.json', 'petdb_33607.json', 'petdb_33669.json', 'petdb_33782.json', 'petdb_34607.json', 'petdb_34705.json', 'petdb_35016.json', 'petdb_35881.json', 'petdb_36481.json', 'petdb_36975.json', 'petdb_37105.json', 'petdb_37186.json', 'petdb_37341.json', 'petdb_37444.json', 'petdb_37453.json', 'petdb_37677.json', 'petdb_37890.json', 'petdb_38560.json', 'petdb_38643.json', 'petdb_38771.json', 'petdb_38810.json', 'petdb_38997.json', 'petdb_39075.json', 'petdb_39653.json', 'petdb_41163.json', 'petdb_41213.json', 'petdb_41287.json', 'petdb_41653.json', 'petdb_41773.json', 'petdb_41853.json', 'petdb_42001.json', 'petdb_42089.json', 'petdb_42129.json', 'petdb_42166.json', 'petdb_42270.json', 'petdb_42350.json', 'petdb_42367.json', 'petdb_42476.json', 'petdb_42500.json', 'petdb_42545.json', 'petdb_42600.json', 'petdb_42619.json', 'petdb_42654.json', 'petdb_42679.json', 'petdb_43729.json', 'petdb_43741.json', 'petdb_44447.json', 'petdb_44791.json', 'petdb_44810.json', 'petdb_44828.json', 'petdb_44871.json', 'petdb_44936.json', 'petdb_44969.json', 'petdb_45510.json', 'petdb_45578.json', 'petdb_45580.json', 'petdb_46540.json', 'petdb_46666.json', 'petdb_46981.json', 'petdb_47102.json', 'petdb_47126.json', 'petdb_47564.json', 'petdb_47678.json', 'petdb_48008.json', 'petdb_48100.json', 'petdb_48210.json', 'petdb_48589.json', 'petdb_48708.json', 'petdb_48776.json', 'petdb_48817.json', 'petdb_49105.json', 'petdb_49200.json', 'petdb_49464.json', 'petdb_49525.json']
New folder
petdb_26640.json
petdb_26641.json
petdb_26642.json
petdb_26643.json
petdb_26644.json
petdb_26645.json
petdb_26646.json
petdb_26647.json
petdb_26648.json
petdb_26649.json
petdb_26650.json
petdb_26651.json
petdb_26652.json
petdb_26653.json
petdb_26654.json
petdb_26655.json
petdb_26656.json
petdb_26657.json
petdb_26658.json
petdb_26659.json
petdb_26660.json
petdb_26661.json
petdb_26662.json
petdb_26663.json
petdb_26664.json
petdb_26665.json
petdb_26666.json
petdb_26667.json
petdb_26668.json
petdb_26669.json
petdb_26670.json
petdb_26671.json
petdb_26672.json
petdb_26673.json
petdb_26674.json
petdb_26675.json
petdb_26676.json
petdb_26677.json
petdb_26678.json
petdb_26679.json
petdb_26680.json
petdb_26681.json
petdb_26682.json
petdb_26683.json
petdb_26684.json
petdb_26685.json
petdb_26686.json
petdb_26687.json
petdb_26688.json
petdb_26689.json
petdb_26690.json
petdb_26691.json
petdb_26692.json
petdb_26693.json
petdb_26694.json
petdb_26695.json
petdb_26696.json
petdb_26697.json
petdb_26698.json
petdb_26699.json
petdb_26700.json
petdb_26701.json
petdb_26702.json
petdb_26703.json
petdb_26704.json
petdb_26705.json
petdb_26706.json
petdb_26707.json
petdb_26708.json
petdb_26709.json
petdb_26710.json
petdb_26711.json
petdb_26712.json
petdb_26713.json
petdb_26714.json
petdb_26715.json
petdb_26716.json
petdb_26717.json
petdb_26718.json
petdb_26719.json
petdb_26720.json
petdb_26721.json
petdb_26722.json
petdb_26723.json
petdb_26724..json
petdb_26725.json
petdb_26726.json
petdb_26727.json
petdb_26728.json
petdb_26729.json
petdb_26730.json
petdb_26731.json
petdb_26732.json
petdb_26733.json
petdb_26734.json
petdb_26735.json
petdb_26736.json
petdb_26737.json
petdb_26738.json
petdb_26739.json
petdb_26740.json
petdb_26741.json
petdb_26742.json
petdb_26743.json
petdb_26744.json
petdb_26745.json
petdb_26746.json
petdb_26747.json
petdb_26748.json
petdb_26749.json
petdb_26750.json
petdb_26751.json
petdb_26752.json
petdb_26753.json
petdb_26754.json
petdb_26755.json
petdb_26756.json
petdb_26757.json
petdb_26758.json
petdb_26759.json
petdb_26760.json
petdb_26761.json
petdb_26762.json
petdb_26763.json
petdb_26764.json
petdb_26765.json
petdb_26766.json
petdb_26767.json
petdb_26768.json
petdb_26769.json
petdb_26770.json
petdb_26771.json
petdb_26772.json
petdb_26773.json
petdb_26774.json
petdb_26775.json
petdb_26776.json
petdb_26777.json
petdb_26778.json
petdb_26779.json
petdb_26780.json
petdb_26781.json
petdb_26782.json
petdb_26783.json
petdb_26784.json
petdb_26785.json
petdb_26786.json
petdb_26787.json
petdb_26788.json
petdb_26789.json
petdb_26790.json
petdb_26791.json
petdb_26792.json
petdb_26793.json
petdb_26794.json
petdb_26795.json
petdb_26796.json
petdb_26797.json
petdb_26798.json
petdb_26799.json
petdb_26800.json
petdb_26801.json
petdb_26802.json
petdb_26803.json
petdb_26804.json
petdb_26805.json
petdb_26806.json
petdb_26807.json
petdb_26808.json
petdb_26809.json
petdb_26810.json
petdb_26811.json
petdb_26812.json
petdb_26813.json
petdb_26814.json
petdb_26815.json
petdb_26816.json
petdb_26817.json
petdb_26818.json
petdb_26819.json
petdb_26820.json
petdb_26821.json
petdb_26822.json
petdb_26823.json
petdb_26824.json
petdb_26825.json
petdb_26826.json
petdb_26827.json
petdb_26828.json
petdb_26829.json
petdb_26830.json
petdb_26831.json
petdb_26832.json
petdb_26833.json
petdb_26834.json
petdb_26835.json
petdb_26836.json
petdb_26837.json
petdb_26838.json
petdb_26839.json
petdb_26840.json
petdb_30069.json
petdb_30109.json
petdb_30112.json
petdb_30167.json
petdb_31100.json
petdb_31444.json
petdb_31677.json
petdb_31743.json
petdb_31780.json
petdb_31799.json
petdb_32108.json
petdb_32153.json
petdb_32201.json
petdb_32205.json
petdb_32289.json
petdb_32301.json
petdb_32343.json
petdb_32377.json
petdb_32501.json
petdb_32578.json
petdb_32777.json
petdb_32807.json
petdb_32839.json
petdb_32953.json
petdb_32984.json
petdb_32999.json
petdb_33607.json
petdb_33669.json
petdb_33782.json
petdb_34607.json
petdb_34705.json
petdb_35016.json
petdb_35881.json
petdb_36481.json
petdb_36975.json
petdb_37105.json
petdb_37186.json
petdb_37341.json
petdb_37444.json
petdb_37453.json
petdb_37677.json
petdb_37890.json
petdb_38560.json
petdb_38643.json
petdb_38771.json
petdb_38810.json
petdb_38997.json
petdb_39075.json
petdb_39653.json
petdb_41163.json
petdb_41213.json
petdb_41287.json
petdb_41653.json
petdb_41773.json
petdb_41853.json
petdb_42001.json
petdb_42089.json
petdb_42129.json
petdb_42166.json
petdb_42270.json
petdb_42350.json
petdb_42367.json
petdb_42476.json
petdb_42500.json
petdb_42545.json
petdb_42600.json
petdb_42619.json
petdb_42654.json
petdb_42679.json
petdb_43729.json
petdb_43741.json
petdb_44447.json
petdb_44791.json
petdb_44810.json
petdb_44828.json
petdb_44871.json
petdb_44936.json
petdb_44969.json
petdb_45510.json
petdb_45578.json
petdb_45580.json
petdb_46540.json
petdb_46666.json
petdb_46981.json
petdb_47102.json
petdb_47126.json
petdb_47564.json
petdb_47678.json
petdb_48008.json
petdb_48100.json
petdb_48210.json
petdb_48589.json
petdb_48708.json
petdb_48776.json
petdb_48817.json
petdb_49105.json
petdb_49200.json
petdb_49464.json
petdb_49525.json

In [3]:

files = []
pet_path = r'C:\Users\natasha\Downloads\PetDB'
for i in os.listdir(pet_path):
    if i.endswith('.json'):
        full_path = '%s/%s' % (pet_path, i)
        jsonStr = open(full_path, 'r', encoding='utf-8').read()
        jsonStr = jsonStr.replace("'",'"')
        jsonStr = jsonStr.replace('None','"None"')
        jsonData = json.loads(jsonStr)
        files.append(jsonData)

##Data Dictionary

Taxon – this is a controlled list of rock types

Specimen – this has the metadata for each specimen

IGSN - an alphanumeric code that uniquely identifies samples taken from our natural environment (for example: rock specimens,          water samples, sediment cores), as well as related sampling features (sites, stations, stratigraphic sections, etc.).

In [4]:

df1= pd.DataFrame.from_dict(json_normalize(files[0]['data']), orient='columns')
i = 1
#while i < len(files):
while i < 5:
    df2 = pd.DataFrame.from_dict(json_normalize(files[i]['data']), orient='columns')
    df1 = df1.append(df2)
    i = i + 1
pd.set_option("display.max_columns", 29)
df1

<ipython-input-4-927af8feea2d>:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  df1= pd.DataFrame.from_dict(json_normalize(files[0]['data']), orient='columns')
<ipython-input-4-927af8feea2d>:5: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  df2 = pd.DataFrame.from_dict(json_normalize(files[i]['data']), orient='columns')

,specimen_num,specimen_code,igsn,archive_institution,specimen_material,taxon,rock_class_details,specimen_names,specimen_comments,alterations,rock_textures,geological_ages,station_num,station_code,lat_label,long_label,points,centerLat,centerLong,elevation_min,elevation_max,location_precisions,geographic_location,tectonic_settings,expedition_num,expedition_code,sampling_technique_code,sampling_technique_name,analyzed_samples
0,26640,ABP0002-019-002,URI900886,None,ROCK,"[{'rock_type': 'igneous:volcanic:mafic', 'rock...",[],"[{'specimen_name': '2p D19-2', 'source': [{'ci...",[],[],[],"[{'prefix': '', 'age': '', 'age_min': '', 'age...",6585,ABP0002-019,14.17°S,13.94°W,"[{'latitude': -14.17, 'longitude': -13.94, 'te...",-14.17,-13.94,-2940,-3620,[0.01],"[OCEAN|ATLANTIC, SPREADING_CENTER|MID-ATLANTIC...",[SPREADING_CENTER],789,ABP0002,None,None,"[ABP0002-019-002-117896, ABP0002-019-002-86341..."
0,26641,ABP0002-021-001,N/A,None,ROCK,"[{'rock_type': 'igneous:volcanic:mafic', 'rock...",[],"[{'specimen_name': 'VG8464', 'source': [{'cita...",[],[],[],"[{'prefix': '', 'age': '', 'age_min': '', 'age...",6586,ABP0002-021,22.01°S,23.26°W,"[{'latitude': -22.01, 'longitude': -23.26, 'te...",-22.01,-23.26,-4770,-4900,[0.01],"[SPREADING_CENTER|MID-ATLANTIC RIDGE, OCEAN|AT...",[SPREADING_CENTER],789,ABP0002,None,None,[ABP0002-021-001-117897]
0,26642,ABP0002-021-010,N/A,None,ROCK,"[{'rock_type': 'igneous:volcanic:mafic', 'rock...",[],"[{'specimen_name': 'VG8465', 'source': [{'cita...",[],[],[],"[{'prefix': '', 'age': '', 'age_min': '', 'age...",6586,ABP0002-021,22.01°S,23.26°W,"[{'latitude': -22.01, 'longitude': -23.26, 'te...",-22.01,-23.26,-4770,-4900,[0.01],"[SPREADING_CENTER|MID-ATLANTIC RIDGE, OCEAN|AT...",[SPREADING_CENTER],789,ABP0002,None,None,[ABP0002-021-010-117898]
0,26643,ABP0002-021-012,N/A,None,ROCK,"[{'rock_type': 'igneous:volcanic:mafic', 'rock...",[],"[{'specimen_name': 'VG8466', 'source': [{'cita...",[],[],[],"[{'prefix': '', 'age': '', 'age_min': '', 'age...",6586,ABP0002-021,22.01°S,23.26°W,"[{'latitude': -22.01, 'longitude': -23.26, 'te...",-22.01,-23.26,-4770,-4900,[0.01],"[SPREADING_CENTER|MID-ATLANTIC RIDGE, OCEAN|AT...",[SPREADING_CENTER],789,ABP0002,None,None,[ABP0002-021-012-117899]
0,26644,ABP0002-021-015,N/A,None,ROCK,"[{'rock_type': 'igneous:volcanic:mafic', 'rock...",[],"[{'specimen_name': 'VG8467', 'source': [{'cita...",[],[],[],"[{'prefix': '', 'age': '', 'age_min': '', 'age...",6586,ABP0002-021,22.01°S,23.26°W,"[{'latitude': -22.01, 'longitude': -23.26, 'te...",-22.01,-23.26,-4770,-4900,[0.01],"[SPREADING_CENTER|MID-ATLANTIC RIDGE, OCEAN|AT...",[SPREADING_CENTER],789,ABP0002,None,None,[ABP0002-021-015-117900]

In [5]:
df1.columns

Index(['specimen_num', 'specimen_code', 'igsn', 'archive_institution',
       'specimen_material', 'taxon', 'rock_class_details', 'specimen_names',
       'specimen_comments', 'alterations', 'rock_textures', 'geological_ages',
       'station_num', 'station_code', 'lat_label', 'long_label', 'points',
       'centerLat', 'centerLong', 'elevation_min', 'elevation_max',
       'location_precisions', 'geographic_location', 'tectonic_settings',
       'expedition_num', 'expedition_code', 'sampling_technique_code',
       'sampling_technique_name', 'analyzed_samples'],
      dtype='object')

In [6]:
columns = ['specimen_num','citation_num', 'citation_code','specimen_code','igsn','archive_institution','specimen_material','taxon','taxon_rock_type', 'taxon_rock_class','rock_class_detail','rock_class_details','specimen_names','specimen_name','specimen_comments','specimen_comment','alteration','alterations','rock_textures','rock_texture','geological_ages','geological_ages__prefix','geological_ages__age','geological_ages__min','geological_ages__max','points_latitude','points_longitude','points_text','station_num', 'station_code','lat_label', 'long_label','points','centerLat','centerLong', 'elevation_min','elevation_max','location_precisions','geographic_location','tectonic_settings','expedition_num','expedition_code','sampling_technique_code','sampling_technique_name','analyzed_samples']
new_df = pd.DataFrame(data = None, index=None, columns = columns)
for index, row in df1.iterrows():
    citation_num_list = []
    citation_code_list = []
    specimen_num = row['specimen_num']
    specimen_code = row['specimen_code']
    igsn = row['igsn']
    archive_institution = row['archive_institution']
    specimen_material = row['specimen_material']
    taxon = row['taxon'] 
    rock_class_details = row['rock_class_details']
    if len(rock_class_details) == 0:
        rock_class_details = 'None'
    specimen_names = row['specimen_names']  
    specimen_comments = row['specimen_comments']
    if len(specimen_comments) == 0:
        specimen_comments = 'None'
    alterations = row['alterations']
    if len(alterations) == 0:
        alterations = 'None'
    rock_textures = row['rock_textures'] 
    geological_ages = row['geological_ages'] 
    station_num = row['station_num']
    station_code = row['station_code']
    lat_label = row['lat_label']
    long_label = row['long_label']
    points = row['points'] 
    latitude = ''
    longitude = ''
    text = ''
    if len(points)> 0:
        latitude = points[0]['latitude']
        longitude = points[0]['longitude']
        text = points[0]['text']
    centerLat = row['centerLat']
    centerLong = row['centerLong']
    elevation_min = row['elevation_min']
    elevation_max = row['elevation_max']
    location_precisions = row['location_precisions']
    geographic_location = row['geographic_location']
    tectonic_settings = row['tectonic_settings']
    expedition_num = row['expedition_num']
    expedition_code = row['expedition_code']
    sampling_technique_code = row['sampling_technique_code']
    sampling_technique_name = row['sampling_technique_name']
    analyzed_samples = row['analyzed_samples']
    taxon_rock_type = taxon[0]['rock_type']
    taxon_rock_class = taxon[0]['rock_class']
    
    
    geological_prefix = 'None'
    geological_ages__age = 'None'
    geological_ages__min = 'None'
    geological_ages__max = 'None'

    if len(geological_ages) > 0:
        geological_prefix = geological_ages[0]['prefix']
        geological_ages__age = geological_ages[0]['age']
        geological_ages__min = geological_ages[0]['age_min']
        geological_ages__max = geological_ages[0]['age_max']

    
    rock_texture = 'None'
    for item in rock_textures:
        rock_texture = item['rock_texture']
    
    rock_class_detail = 'None'
    if rock_class_details != "None":
        rock_class_detail = rock_class_details[0]['rock_class_detail']
    
    alteration = 'None'
    if alterations != "None":
        alteration = alterations[0]['alteration']
    
    
    specimen_comment = 'None'
    if specimen_comments != "None":
        specimen_comment = specimen_comments[0]['comment']
    
       
    
    specimen_names_list = [] 
    
    for item in specimen_names:
        specimen_name = item['specimen_name']
        specimen_names_list.append(specimen_name)

    for item in taxon:
        for source in item['source']:
            citation_num = source['citation_num']
            citation_code = source['citation_code']
            citation_num_list.append(citation_num)
            citation_code_list.append(citation_code)
    
    #print(specimen_names_list)
    
    i = 0
    while i < len(citation_num_list): #
        new_row = [] 
        citation_num = citation_num_list[i]
        citation_code = citation_code_list[i]
        
        #print('citation_num', citation_num)
        #print('citation_code', citation_code)
        #print(i)
        
        specimen_name = ""
        if i < len(specimen_names_list):
            specimen_name = specimen_names_list[i]
        #print(specimen_name)
        
        new_row.append(specimen_num)   
        new_row.append(citation_num) 
        new_row.append(citation_code) 
        new_row.append(specimen_code)
        new_row.append(igsn)
        new_row.append(archive_institution)
        new_row.append(specimen_material)
        new_row.append(taxon)
        new_row.append(taxon_rock_type)
        new_row.append(taxon_rock_class)
        new_row.append(rock_class_detail)
        new_row.append(rock_class_details)
        new_row.append(specimen_names)
        new_row.append(specimen_name)
        new_row.append(specimen_comments)
        new_row.append(specimen_comment)
        new_row.append(alteration)
        new_row.append(alterations)
        new_row.append(rock_textures)
        new_row.append(rock_texture)
        new_row.append(geological_ages)
        new_row.append(geological_prefix)
        new_row.append( geological_ages__age)
        new_row.append( geological_ages__min)
        new_row.append(geological_ages__max)
        new_row.append(latitude)
        new_row.append(longitude)
        new_row.append(text)
        new_row.append(station_num)
        new_row.append(station_code)
        new_row.append(lat_label)
        new_row.append(long_label)
        new_row.append(points)
        new_row.append(centerLat)
        new_row.append(centerLong)
        new_row.append(elevation_min)
        new_row.append(elevation_max)
        new_row.append(location_precisions)
        new_row.append(geographic_location)
        new_row.append(tectonic_settings)
        new_row.append(expedition_num)
        new_row.append(expedition_code)
        new_row.append(sampling_technique_code)
        new_row.append(sampling_technique_name)
        new_row.append(analyzed_samples)
        
        
        a_series = pd.Series(new_row, index=new_df.columns) # 
        new_df = new_df.append(a_series, ignore_index=True) 
        i += 1       

        pd.set_option("display.max_columns", None)
pd.set_option("display.max_colwidth", None)
#pd.set_option('display.max_rows', None)
new_df.drop('taxon', axis = 1, inplace = True)
new_df.drop('specimen_names', axis = 1, inplace = True)
new_df.drop('rock_textures', axis = 1, inplace = True)
new_df.drop('geological_ages', axis = 1, inplace = True)
new_df.drop('points', axis = 1, inplace = True)
new_df.drop('rock_class_details', axis = 1, inplace = True)
new_df.drop('alterations', axis = 1, inplace = True)
new_df.drop('specimen_comments', axis = 1, inplace = True)

new_df['geographic_location'] = new_df['geographic_location'].apply(lambda x: ', '.join(map(str, x))) # convert list to strings
new_df['tectonic_settings'] = new_df['tectonic_settings'].apply(lambda x: ', '.join(map(str, x)))
new_df['location_precisions'] = new_df['location_precisions'].apply(lambda x: ', '.join(map(str, x)))
new_df['analyzed_samples'] = new_df['analyzed_samples'].apply(lambda x: ', '.join(map(str, x)))

new_df = new_df.replace('', 'None')
new_df = new_df.replace('N/A', 'None')
new_df = new_df.rename(columns = {'alteration' : 'alterations', 'rock_class_detail' : 'rock_class_details', 'specimen_comment' : 'specimen_comments'})
pd.set_option('display.max_rows', None)
new_df

,specimen_num,citation_num,citation_code,specimen_code,igsn,archive_institution,specimen_material,taxon_rock_type,taxon_rock_class,rock_class_details,specimen_name,specimen_comments,alterations,rock_texture,geological_ages__prefix,geological_ages__age,geological_ages__min,geological_ages__max,points_latitude,points_longitude,points_text,station_num,station_code,lat_label,long_label,centerLat,centerLong,elevation_min,elevation_max,location_precisions,geographic_location,tectonic_settings,expedition_num,expedition_code,sampling_technique_code,sampling_technique_name,analyzed_samples
0,26640,2129,"KELLEY,2013",ABP0002-019-002,URI900886,None,ROCK,igneous:volcanic:mafic,BASALT,None,2p D19-2,None,None,None,None,None,None,1,-14.17,-13.94,14.17°S/13.94°W,6585,ABP0002-019,14.17°S,13.94°W,-14.17,-13.94,-2940,-3620,0.01,"OCEAN|ATLANTIC, SPREADING_CENTER|MID-ATLANTIC RIDGE",SPREADING_CENTER,789,ABP0002,None,None,"ABP0002-019-002-117896, ABP0002-019-002-863412, ABP0002-019-002-863791"
1,26640,1086,"MELSON,2003",ABP0002-019-002,URI900886,None,ROCK,igneous:volcanic:mafic,BASALT,None,VG8463,None,None,None,None,None,None,1,-14.17,-13.94,14.17°S/13.94°W,6585,ABP0002-019,14.17°S,13.94°W,-14.17,-13.94,-2940,-3620,0.01,"OCEAN|ATLANTIC, SPREADING_CENTER|MID-ATLANTIC RIDGE",SPREADING_CENTER,789,ABP0002,None,None,"ABP0002-019-002-117896, ABP0002-019-002-863412, ABP0002-019-002-863791"
2,26641,1086,"MELSON,2003",ABP0002-021-001,None,None,ROCK,igneous:volcanic:mafic,BASALT,None,VG8464,None,None,None,None,None,None,1,-22.01,-23.26,22.01°S/23.26°W,6586,ABP0002-021,22.01°S,23.26°W,-22.01,-23.26,-4770,-4900,0.01,"SPREADING_CENTER|MID-ATLANTIC RIDGE, OCEAN|ATLANTIC",SPREADING_CENTER,789,ABP0002,None,None,ABP0002-021-001-117897
3,26642,1086,"MELSON,2003",ABP0002-021-010,None,None,ROCK,igneous:volcanic:mafic,BASALT,None,VG8465,None,None,None,None,None,None,1,-22.01,-23.26,22.01°S/23.26°W,6586,ABP0002-021,22.01°S,23.26°W,-22.01,-23.26,-4770,-4900,0.01,"SPREADING_CENTER|MID-ATLANTIC RIDGE, OCEAN|ATLANTIC",SPREADING_CENTER,789,ABP0002,None,None,ABP0002-021-010-117898
4,26643,1086,"MELSON,2003",ABP0002-021-012,None,None,ROCK,igneous:volcanic:mafic,BASALT,None,VG8466,None,None,None,None,None,None,1,-22.01,-23.26,22.01°S/23.26°W,6586,ABP0002-021,22.01°S,23.26°W,-22.01,-23.26,-4770,-4900,0.01,"SPREADING_CENTER|MID-ATLANTIC RIDGE, OCEAN|ATLANTIC",SPREADING_CENTER,789,ABP0002,None,None,ABP0002-021-012-117899
5,26644,1086,"MELSON,2003",ABP0002-021-015,None,None,ROCK,igneous:volcanic:mafic,BASALT,None,VG8467,None,None,None,None,None,None,1,-22.01,-23.26,22.01°S/23.26°W,6586,ABP0002-021,22.01°S,23.26°W,-22.01,-23.26,-4770,-4900,0.01,"SPREADING_CENTER|MID-ATLANTIC RIDGE, OCEAN|ATLANTIC",SPREADING_CENTER,789,ABP0002,None,None,ABP0002-021-015-117900

In [7]:
new_df.columns

Index(['specimen_num', 'citation_num', 'citation_code', 'specimen_code',
       'igsn', 'archive_institution', 'specimen_material', 'taxon_rock_type',
       'taxon_rock_class', 'rock_class_details', 'specimen_name',
       'specimen_comments', 'alterations', 'rock_texture',
       'geological_ages__prefix', 'geological_ages__age',
       'geological_ages__min', 'geological_ages__max', 'points_latitude',
       'points_longitude', 'points_text', 'station_num', 'station_code',
       'lat_label', 'long_label', 'centerLat', 'centerLong', 'elevation_min',
       'elevation_max', 'location_precisions', 'geographic_location',
       'tectonic_settings', 'expedition_num', 'expedition_code',
       'sampling_technique_code', 'sampling_technique_name',
       'analyzed_samples'],
      dtype='object')

In [8]:
len(columns)

45

In [9]:
#useful ??? stated as not useful
unique_list=[]
for all in new_df['citation_num']:
    if all not in unique_list:
        unique_list.append(all)
print(unique_list)
len(unique_list)

['2129', '1086']

2

In [10]:
#  (useful)

unique_list=[]
for all in new_df['specimen_code']:
    if all not in unique_list:
        unique_list.append(all)
print(unique_list)
len(unique_list)

['ABP0002-019-002', 'ABP0002-021-001', 'ABP0002-021-010', 'ABP0002-021-012', 'ABP0002-021-015']

5

In [11]:
#might not be useful ???
unique_list=[]
for all in new_df['specimen_num']:
    if all not in unique_list:
        unique_list.append(all)
print(unique_list)
len(unique_list)

[26640, 26641, 26642, 26643, 26644]

5

In [12]:
# might no be needed

unique_list=[]
for all in new_df['specimen_material']:
    if all not in unique_list:
        unique_list.append(all)
print(unique_list)
len(unique_list)

['ROCK']

1

In [13]:
#might be useful

unique_list=[]
for all in new_df['taxon_rock_type']:
    if all not in unique_list:
        unique_list.append(all)
print(unique_list)
len(unique_list)

['igneous:volcanic:mafic']

1

In [14]:
# might be useful
unique_list=[]
for all in new_df['taxon_rock_class']:
    if all not in unique_list:
        unique_list.append(all)
print(unique_list)
len(unique_list)

['BASALT']

1

In [15]:
#useful
unique_list=[]
for all in new_df['rock_class_details']:
    if all not in unique_list:
        unique_list.append(all)
print(unique_list)
len(unique_list)

['None']

1

In [16]:
#might not be useful (unique id's for observations)
unique_list=[]
for all in new_df['specimen_name']:
    if all not in unique_list:
        unique_list.append(all)
print(unique_list)
len(unique_list)

['2p D19-2', 'VG8463', 'VG8464', 'VG8465', 'VG8466', 'VG8467']

6

In [17]:
#useful 
unique_list=[]
for all in new_df['points_latitude']:
    if all not in unique_list:
        unique_list.append(all)
print(unique_list)
len(unique_list)

[-14.17, -22.01]

2

In [18]:
#useful
unique_list=[]
for all in new_df['points_longitude']:
    if all not in unique_list:
        unique_list.append(all)
print(unique_list)
len(unique_list)

[-13.94, -23.26]

2

In [19]:
# useful
unique_list=[]
for all in new_df['points_text']:
    if all not in unique_list:
        unique_list.append(all)
print(unique_list)
len(unique_list)

['14.17°S/13.94°W', '22.01°S/23.26°W']

2

In [20]:
# useful
unique_list=[]
for all in new_df['station_num']:
    if all not in unique_list:
        unique_list.append(all)
print(unique_list)
len(unique_list)

[6585, 6586]

2

In [21]:
#useful
unique_list=[]
for all in new_df['station_code']:
    if all not in unique_list:
        unique_list.append(all)
print(unique_list)
len(unique_list)

['ABP0002-019', 'ABP0002-021']

2

In [22]:
#useful
unique_list=[]
for all in new_df['elevation_min']:
    if all not in unique_list:
        unique_list.append(all)
print(unique_list)
len(unique_list)

[-2940, -4770]

2

In [23]:
#useful
unique_list=[]
for all in new_df['elevation_max']:
    if all not in unique_list:
        unique_list.append(all)
print(unique_list)
len(unique_list)

[-3620, -4900]

2

In [24]:
#useful
unique_list=[]
for all in new_df['geographic_location']:
    if all not in unique_list:
        unique_list.append(all)
print(unique_list)
len(unique_list)

['OCEAN|ATLANTIC, SPREADING_CENTER|MID-ATLANTIC RIDGE', 'SPREADING_CENTER|MID-ATLANTIC RIDGE, OCEAN|ATLANTIC']

2

In [25]:
#useful
unique_list=[]
for all in new_df['tectonic_settings']:
    if all not in unique_list:
        unique_list.append(all)
print(unique_list)
len(unique_list)

['SPREADING_CENTER']

1

In [26]:
#useful
unique_list=[]
for all in new_df['expedition_num']:
    if all not in unique_list:
        unique_list.append(all)
print(unique_list)
len(unique_list)

[789]

1

In [27]:
#useful
unique_list=[]
for all in new_df['expedition_code']:
    if all not in unique_list:
        unique_list.append(all)
print(unique_list)
len(unique_list)

['ABP0002']

1

In [28]:
#useful
unique_list=[]
for all in new_df['sampling_technique_code']:
    if all not in unique_list:
        unique_list.append(all)
print(unique_list)
len(unique_list)

['None']

1

In [29]:
#useful
unique_list=[]
for all in new_df['sampling_technique_name']:
    if all not in unique_list:
        unique_list.append(all)
print(unique_list)
len(unique_list)

['None']

1

In [30]:
new_df_final = new_df.drop(columns = ['alterations', 'analyzed_samples', 'archive_institution', 'geological_ages__prefix', 'geological_ages__age', 'geological_ages__min', 'geological_ages__max','igsn','lat_label','long_label','location_precisions', 'rock_texture', 'specimen_comments'])
new_df_final

,specimen_num,citation_num,citation_code,specimen_code,specimen_material,taxon_rock_type,taxon_rock_class,rock_class_details,specimen_name,points_latitude,points_longitude,points_text,station_num,station_code,centerLat,centerLong,elevation_min,elevation_max,geographic_location,tectonic_settings,expedition_num,expedition_code,sampling_technique_code,sampling_technique_name
0,26640,2129,"KELLEY,2013",ABP0002-019-002,ROCK,igneous:volcanic:mafic,BASALT,None,2p D19-2,-14.17,-13.94,14.17°S/13.94°W,6585,ABP0002-019,-14.17,-13.94,-2940,-3620,"OCEAN|ATLANTIC, SPREADING_CENTER|MID-ATLANTIC RIDGE",SPREADING_CENTER,789,ABP0002,None,None
1,26640,1086,"MELSON,2003",ABP0002-019-002,ROCK,igneous:volcanic:mafic,BASALT,None,VG8463,-14.17,-13.94,14.17°S/13.94°W,6585,ABP0002-019,-14.17,-13.94,-2940,-3620,"OCEAN|ATLANTIC, SPREADING_CENTER|MID-ATLANTIC RIDGE",SPREADING_CENTER,789,ABP0002,None,None
2,26641,1086,"MELSON,2003",ABP0002-021-001,ROCK,igneous:volcanic:mafic,BASALT,None,VG8464,-22.01,-23.26,22.01°S/23.26°W,6586,ABP0002-021,-22.01,-23.26,-4770,-4900,"SPREADING_CENTER|MID-ATLANTIC RIDGE, OCEAN|ATLANTIC",SPREADING_CENTER,789,ABP0002,None,None
3,26642,1086,"MELSON,2003",ABP0002-021-010,ROCK,igneous:volcanic:mafic,BASALT,None,VG8465,-22.01,-23.26,22.01°S/23.26°W,6586,ABP0002-021,-22.01,-23.26,-4770,-4900,"SPREADING_CENTER|MID-ATLANTIC RIDGE, OCEAN|ATLANTIC",SPREADING_CENTER,789,ABP0002,None,None
4,26643,1086,"MELSON,2003",ABP0002-021-012,ROCK,igneous:volcanic:mafic,BASALT,None,VG8466,-22.01,-23.26,22.01°S/23.26°W,6586,ABP0002-021,-22.01,-23.26,-4770,-4900,"SPREADING_CENTER|MID-ATLANTIC RIDGE, OCEAN|ATLANTIC",SPREADING_CENTER,789,ABP0002,None,None
5,26644,1086,"MELSON,2003",ABP0002-021-015,ROCK,igneous:volcanic:mafic,BASALT,None,VG8467,-22.01,-23.26,22.01°S/23.26°W,6586,ABP0002-021,-22.01,-23.26,-4770,-4900,"SPREADING_CENTER|MID-ATLANTIC RIDGE, OCEAN|ATLANTIC",SPREADING_CENTER,789,ABP0002,None,None

In [31]:
#useful columns

new_df_final.columns

Index(['specimen_num', 'citation_num', 'citation_code', 'specimen_code',
       'specimen_material', 'taxon_rock_type', 'taxon_rock_class',
       'rock_class_details', 'specimen_name', 'points_latitude',
       'points_longitude', 'points_text', 'station_num', 'station_code',
       'centerLat', 'centerLong', 'elevation_min', 'elevation_max',
       'geographic_location', 'tectonic_settings', 'expedition_num',
       'expedition_code', 'sampling_technique_code',
       'sampling_technique_name'],
      dtype='object')

In [32]:
new_df_final.shape

(6, 24)

In [33]:
# data for attributes are all 'none', 'rock'(specimen_material)

new_df_final1 = new_df_final.drop(columns = ['sampling_technique_code', 'sampling_technique_name', 'specimen_material', 'points_text', 'centerLat', 'centerLong'])
new_df_final1

,specimen_num,citation_num,citation_code,specimen_code,taxon_rock_type,taxon_rock_class,rock_class_details,specimen_name,points_latitude,points_longitude,station_num,station_code,elevation_min,elevation_max,geographic_location,tectonic_settings,expedition_num,expedition_code
0,26640,2129,"KELLEY,2013",ABP0002-019-002,igneous:volcanic:mafic,BASALT,None,2p D19-2,-14.17,-13.94,6585,ABP0002-019,-2940,-3620,"OCEAN|ATLANTIC, SPREADING_CENTER|MID-ATLANTIC RIDGE",SPREADING_CENTER,789,ABP0002
1,26640,1086,"MELSON,2003",ABP0002-019-002,igneous:volcanic:mafic,BASALT,None,VG8463,-14.17,-13.94,6585,ABP0002-019,-2940,-3620,"OCEAN|ATLANTIC, SPREADING_CENTER|MID-ATLANTIC RIDGE",SPREADING_CENTER,789,ABP0002
2,26641,1086,"MELSON,2003",ABP0002-021-001,igneous:volcanic:mafic,BASALT,None,VG8464,-22.01,-23.26,6586,ABP0002-021,-4770,-4900,"SPREADING_CENTER|MID-ATLANTIC RIDGE, OCEAN|ATLANTIC",SPREADING_CENTER,789,ABP0002
3,26642,1086,"MELSON,2003",ABP0002-021-010,igneous:volcanic:mafic,BASALT,None,VG8465,-22.01,-23.26,6586,ABP0002-021,-4770,-4900,"SPREADING_CENTER|MID-ATLANTIC RIDGE, OCEAN|ATLANTIC",SPREADING_CENTER,789,ABP0002
4,26643,1086,"MELSON,2003",ABP0002-021-012,igneous:volcanic:mafic,BASALT,None,VG8466,-22.01,-23.26,6586,ABP0002-021,-4770,-4900,"SPREADING_CENTER|MID-ATLANTIC RIDGE, OCEAN|ATLANTIC",SPREADING_CENTER,789,ABP0002
5,26644,1086,"MELSON,2003",ABP0002-021-015,igneous:volcanic:mafic,BASALT,None,VG8467,-22.01,-23.26,6586,ABP0002-021,-4770,-4900,"SPREADING_CENTER|MID-ATLANTIC RIDGE, OCEAN|ATLANTIC",SPREADING_CENTER,789,ABP0002

In [34]:
new_df_final1.columns

#def mycompare (row1, row2, column_name):
   # return row1[column_name] == row2[column_name]
    
#mycompare(new_df_final1.loc[0], new_df_final1.loc[1], 'specimen_num')
#print(len(new_df_final1))

Index(['specimen_num', 'citation_num', 'citation_code', 'specimen_code',
       'taxon_rock_type', 'taxon_rock_class', 'rock_class_details',
       'specimen_name', 'points_latitude', 'points_longitude', 'station_num',
       'station_code', 'elevation_min', 'elevation_max', 'geographic_location',
       'tectonic_settings', 'expedition_num', 'expedition_code'],
      dtype='object')

In [35]:
def mycompare_specimen_num(row1val, row2val):
  return row1val==row2val
def mycompare_specimen_code(row1val, row2val):
  return row1val==row2val
def mycompare_taxon_rock_type(row1val, row2val):
  return row1val==row2val
def mycompare_taxon_rock_class(row1val, row2val):
  return row1val==row2val
def mycompare_rock_class_details(row1val, row2val):
  return row1val==row2val
def mycompare_specimen_name(row1val, row2val):
  return row1val==row2val
def mycompare_points_latitude(row1val, row2val):
  return row1val==row2val
def mycompare_points_longitude(row1val, row2val):
  return row1val==row2val
def mycompare_station_num(row1val, row2val):
  return row1val==row2val
def mycompare_station_code(row1val, row2val):
  return row1val==row2val
def mycompare_elevation_min(row1val, row2val):
  return row1val==row2val
def mycompare_elevation_max(row1val, row2val):
  return row1val==row2val
def mycompare_geographic_location(row1val, row2val):
  return row1val==row2val
def mycompare_tectonic_settings(row1val, row2val):
  return row1val==row2val
def mycompare_expedition_num(row1val, row2val):
  return row1val==row2val
def mycompare_expedition_code(row1val, row2val):
  return row1val==row2val

def mycompare (row1, row2, column_name):
  #return row1[column_name] == row2[column_name]
  if column_name=="specimen_num":
      return mycompare_specimen_num( row1[column_name], row2[column_name] )
  elif column_name=="specimen_code":
      return mycompare_specimen_code( row1[column_name], row2[column_name] )
  elif column_name=="taxon_rock_type":
      return mycompare_taxon_rock_type( row1[column_name], row2[column_name] )
  elif column_name=='taxon_rock_class':
      return mycompare_taxon_rock_class( row1[column_name], row2[column_name] )
  elif column_name=='rock_class_details': 
      return mycompare_rock_class_details( row1[column_name], row2[column_name] )
  elif column_name=='specimen_name':
      return mycompare_specimen_name( row1[column_name], row2[column_name] )
  elif column_name=='points_latitude':
      return mycompare_points_latitude( row1[column_name], row2[column_name] )
  elif column_name=='points_longitude':
      return mycompare_points_longitude( row1[column_name], row2[column_name] )
  elif column_name=='station_num':
      return mycompare_station_num( row1[column_name], row2[column_name] )
  elif column_name=='station_code':
      return mycompare_station_code( row1[column_name], row2[column_name] )
  elif column_name=='elevation_min':
      return mycompare_elevation_min( row1[column_name], row2[column_name] )
  elif column_name=='elevation_max':
      return mycompare_elevation_max( row1[column_name], row2[column_name] )
  elif column_name=='geographic_location': 
      return mycompare_geographic_location( row1[column_name], row2[column_name] )
  elif column_name=='tectonic_settings':
      return mycompare_tectonic_settings( row1[column_name], row2[column_name] )
  elif column_name=='expedition_num': 
      return mycompare_expedition_num( row1[column_name], row2[column_name] )
  elif column_name=='expedition_code':
      return mycompare_expedition_code( row1[column_name], row2[column_name] )
  else:
      return False

In [36]:
def getsimilarities (df, column_name):
    i = 0
    results = []
    while i < len(df) - 1:
        j = i + 1
        row1 = df.loc[i]
        my_results = []
        while j < len(df):
            row2 = df.loc[j]
            result = mycompare(row1, row2, column_name)
            package = [i,j,result]
            my_results.append(package)
            
            j += 1
        i += 1
        results.append(my_results)
    return results

In [37]:
#getsimilarities(new_df_final1, 'expedition_num')

In [38]:
columns = ['specimen_num', 'specimen_code', 'taxon_rock_type', 'taxon_rock_class','rock_class_details','specimen_name','points_latitude','points_longitude','station_num', 'station_code','elevation_min','elevation_max','geographic_location','tectonic_settings','expedition_num','expedition_code']
columns2 = ['row1','row2', 'attribute','result']

similar_df = pd.DataFrame(data = None, index=None, columns = columns2)
for column_name in columns:
    
    similarities_structure = getsimilarities(new_df_final1,column_name)       
    for outer_list in similarities_structure:
        for new_row in outer_list:
            new_row2 = [new_row[0], new_row[1], column_name, new_row[2]]
            a_series = pd.Series(new_row2, index=similar_df.columns) 
            similar_df = similar_df.append(a_series, ignore_index=True) 
    
similar_df

    row1 row2            attribute result
0      0    1         specimen_num   True
1      0    2         specimen_num  False
2      0    3         specimen_num  False
3      0    4         specimen_num  False
4      0    5         specimen_num  False
5      1    2         specimen_num  False
6      1    3         specimen_num  False
7      1    4         specimen_num  False
8      1    5         specimen_num  False
9      2    3         specimen_num  False
10     2    4         specimen_num  False
11     2    5         specimen_num  False
12     3    4         specimen_num  False
13     3    5         specimen_num  False
14     4    5         specimen_num  False
15     0    1        specimen_code   True
16     0    2        specimen_code  False
17     0    3        specimen_code  False
18     0    4        specimen_code  False
19     0    5        specimen_code  False
20     1    2        specimen_code  False
21     1    3        specimen_code  False
22     1    4        specimen_code  False
23     1    5        specimen_code  False
24     2    3        specimen_code  False
25     2    4        specimen_code  False
26     2    5        specimen_code  False
27     3    4        specimen_code  False
28     3    5        specimen_code  False
29     4    5        specimen_code  False
30     0    1      taxon_rock_type   True
31     0    2      taxon_rock_type   True
32     0    3      taxon_rock_type   True
33     0    4      taxon_rock_type   True
34     0    5      taxon_rock_type   True
35     1    2      taxon_rock_type   True
36     1    3      taxon_rock_type   True
37     1    4      taxon_rock_type   True
38     1    5      taxon_rock_type   True
39     2    3      taxon_rock_type   True
40     2    4      taxon_rock_type   True
41     2    5      taxon_rock_type   True
42     3    4      taxon_rock_type   True
43     3    5      taxon_rock_type   True
44     4    5      taxon_rock_type   True
45     0    1     taxon_rock_class   True
46     0    2     taxon_rock_class   True
47     0    3     taxon_rock_class   True
48     0    4     taxon_rock_class   True
49     0    5     taxon_rock_class   True
50     1    2     taxon_rock_class   True
51     1    3     taxon_rock_class   True
52     1    4     taxon_rock_class   True
53     1    5     taxon_rock_class   True
54     2    3     taxon_rock_class   True
55     2    4     taxon_rock_class   True
56     2    5     taxon_rock_class   True
57     3    4     taxon_rock_class   True
58     3    5     taxon_rock_class   True
59     4    5     taxon_rock_class   True
60     0    1   rock_class_details   True
61     0    2   rock_class_details   True
62     0    3   rock_class_details   True
63     0    4   rock_class_details   True
64     0    5   rock_class_details   True
65     1    2   rock_class_details   True
66     1    3   rock_class_details   True
67     1    4   rock_class_details   True
68     1    5   rock_class_details   True
69     2    3   rock_class_details   True
70     2    4   rock_class_details   True
71     2    5   rock_class_details   True
72     3    4   rock_class_details   True
73     3    5   rock_class_details   True
74     4    5   rock_class_details   True
75     0    1        specimen_name  False
76     0    2        specimen_name  False
77     0    3        specimen_name  False
78     0    4        specimen_name  False
79     0    5        specimen_name  False
80     1    2        specimen_name  False
81     1    3        specimen_name  False
82     1    4        specimen_name  False
83     1    5        specimen_name  False
84     2    3        specimen_name  False
85     2    4        specimen_name  False
86     2    5        specimen_name  False
87     3    4        specimen_name  False
88     3    5        specimen_name  False
89     4    5        specimen_name  False
90     0    1      points_latitude   True
91     0    2      points_latitude  False
92     0    3      points_latitude  False
93     0    4      points_latitude  False
94     0    5      points_latitude  False
95     1    2      points_latitude  False
96     1    3      points_latitude  False
97     1    4      points_latitude  False
98     1    5      points_latitude  False
99     2    3      points_latitude   True
100    2    4      points_latitude   True
101    2    5      points_latitude   True
102    3    4      points_latitude   True
103    3    5      points_latitude   True
104    4    5      points_latitude   True
105    0    1     points_longitude   True
106    0    2     points_longitude  False
107    0    3     points_longitude  False
108    0    4     points_longitude  False
109    0    5     points_longitude  False
110    1    2     points_longitude  False
111    1    3     points_longitude  False
112    1    4     points_longitude  False
113    1    5     points_longitude  False
114    2    3     points_longitude   True
115    2    4     points_longitude   True
116    2    5     points_longitude   True
117    3    4     points_longitude   True
118    3    5     points_longitude   True
119    4    5     points_longitude   True
120    0    1          station_num   True
121    0    2          station_num  False
122    0    3          station_num  False
123    0    4          station_num  False
124    0    5          station_num  False
125    1    2          station_num  False
126    1    3          station_num  False
127    1    4          station_num  False
128    1    5          station_num  False
129    2    3          station_num   True
130    2    4          station_num   True
131    2    5          station_num   True
132    3    4          station_num   True
133    3    5          station_num   True
134    4    5          station_num   True
135    0    1         station_code   True
136    0    2         station_code  False
137    0    3         station_code  False
138    0    4         station_code  False
139    0    5         station_code  False
140    1    2         station_code  False
141    1    3         station_code  False
142    1    4         station_code  False
143    1    5         station_code  False
144    2    3         station_code   True
145    2    4         station_code   True
146    2    5         station_code   True
147    3    4         station_code   True
148    3    5         station_code   True
149    4    5         station_code   True
150    0    1        elevation_min   True
151    0    2        elevation_min  False
152    0    3        elevation_min  False
153    0    4        elevation_min  False
154    0    5        elevation_min  False
155    1    2        elevation_min  False
156    1    3        elevation_min  False
157    1    4        elevation_min  False
158    1    5        elevation_min  False
159    2    3        elevation_min   True
160    2    4        elevation_min   True
161    2    5        elevation_min   True
162    3    4        elevation_min   True
163    3    5        elevation_min   True
164    4    5        elevation_min   True
165    0    1        elevation_max   True
166    0    2        elevation_max  False
167    0    3        elevation_max  False
168    0    4        elevation_max  False
169    0    5        elevation_max  False
170    1    2        elevation_max  False
171    1    3        elevation_max  False
172    1    4        elevation_max  False
173    1    5        elevation_max  False
174    2    3        elevation_max   True
175    2    4        elevation_max   True
176    2    5        elevation_max   True
177    3    4        elevation_max   True
178    3    5        elevation_max   True
179    4    5        elevation_max   True
180    0    1  geographic_location   True
181    0    2  geographic_location  False
182    0    3  geographic_location  False
183    0    4  geographic_location  False
184    0    5  geographic_location  False
185    1    2  geographic_location  False
186    1    3  geographic_location  False
187    1    4  geographic_location  False
188    1    5  geographic_location  False
189    2    3  geographic_location   True
190    2    4  geographic_location   True
191    2    5  geographic_location   True
192    3    4  geographic_location   True
193    3    5  geographic_location   True
194    4    5  geographic_location   True
195    0    1    tectonic_settings   True
196    0    2    tectonic_settings   True
197    0    3    tectonic_settings   True
198    0    4    tectonic_settings   True
199    0    5    tectonic_settings   True
200    1    2    tectonic_settings   True
201    1    3    tectonic_settings   True
202    1    4    tectonic_settings   True
203    1    5    tectonic_settings   True
204    2    3    tectonic_settings   True
205    2    4    tectonic_settings   True
206    2    5    tectonic_settings   True
207    3    4    tectonic_settings   True
208    3    5    tectonic_settings   True
209    4    5    tectonic_settings   True
210    0    1       expedition_num   True
211    0    2       expedition_num   True
212    0    3       expedition_num   True
213    0    4       expedition_num   True
214    0    5       expedition_num   True
215    1    2       expedition_num   True
216    1    3       expedition_num   True
217    1    4       expedition_num   True
218    1    5       expedition_num   True
219    2    3       expedition_num   True
220    2    4       expedition_num   True
221    2    5       expedition_num   True
222    3    4       expedition_num   True
223    3    5       expedition_num   True
224    4    5       expedition_num   True
225    0    1      expedition_code   True
226    0    2      expedition_code   True
227    0    3      expedition_code   True
228    0    4      expedition_code   True
229    0    5      expedition_code   True
230    1    2      expedition_code   True
231    1    3      expedition_code   True
232    1    4      expedition_code   True
233    1    5      expedition_code   True
234    2    3      expedition_code   True
235    2    4      expedition_code   True
236    2    5      expedition_code   True
237    3    4      expedition_code   True
238    3    5      expedition_code   True
239    4    5      expedition_code   True

In [39]:
def count_similar_columns(row1, row2):
    columns = ['citation_num', 'specimen_code', 'taxon_rock_type', 'taxon_rock_class','rock_class_details','specimen_name','points_latitude','points_longitude','station_num', 'station_code','elevation_min','elevation_max','geographic_location','tectonic_settings','expedition_num','expedition_code']
    count = 0
    for column in columns:
      result = mycompare(row1, row2, column)
      if result:
        count+=1
    return count

def compare_two_rows(row1, row2):
    rv = False
    row1_specimen_num = row1['specimen_num'] 
    row2_specimen_num = row2['specimen_num']
    if row1_specimen_num != row2_specimen_num:
      return False
    
# count the number of similar attributes between these two rows
    
    threshold = 0.55
    count = count_similar_columns(row1, row2)
    if float( count/len(columns)) >= threshold:
      rv = True
    return rv


def get_similarities_2(df):
  i = 0
  results = []
  while i < len(df)-1:
    row1 = df.loc[i]
    j = i
    while j < len(df):
      row2 = df.loc[j]
      result = compare_two_rows(row1, row2)
      result_list = [ i, j, result ]
      if i != j:
         results.append(result_list)
      j+=1
    i+=1
  return results


columns = ['specimen_num', 'citation_num', 'specimen_code', 'taxon_rock_type', 'taxon_rock_class','rock_class_details','specimen_name','points_latitude','points_longitude','station_num', 'station_code','elevation_min','elevation_max','geographic_location','tectonic_settings','expedition_num','expedition_code']
columns2 = ['row1','row2','result']

similarities_list = get_similarities_2( new_df_final1 )

similar_df = pd.DataFrame(data = None, index=None, columns = columns2)

for sublist in similarities_list:
  aseries = pd.Series(sublist, index=similar_df.columns)
  similar_df = similar_df.append(aseries, ignore_index=True)
  
similar_df

   row1 row2 result
0     0    1   True
1     0    2  False
2     0    3  False
3     0    4  False
4     0    5  False
5     1    2  False
6     1    3  False
7     1    4  False
8     1    5  False
9     2    3  False
10    2    4  False
11    2    5  False
12    3    4  False
13    3    5  False
14    4    5  False