In [1]:
import numpy as np
import pandas as pd
import requests as reqs
import matplotlib.pyplot as plt
%matplotlib inline
import json
from pandas.io.json import json_normalize

In [2]:
Specimen_URL = r"C:\Users\Tabahani\Downloads\datascience\Housingdocuments\specimen_summary_marine_only.csv"
petdb_url = 'https://ecapi.earthchem.org/specimen'
example_sample = '33513'

In [3]:
Specimen_id = pd.read_csv(Specimen_URL, low_memory=False)

In [4]:
Specimen_id['specimen_num'] = Specimen_id['specimen_num'].astype(str)
Specimen_id.head()

,specimen_num,specimen_code,igsn,station_num,station_code,geometry_text,elevation_min,elevation_max,location_precisions,geographic_location,...,Unnamed: 388,Unnamed: 389,Unnamed: 390,Unnamed: 391,Unnamed: 392,Unnamed: 393,Unnamed: 394,Unnamed: 395,Unnamed: 396,Unnamed: 397
0,26639.0,ABP0002-019-001,NaN,6585,ABP0002-019,POINT(-13.94 -14.17),-2940,-3620,{0.01},"{SPREADING_CENTER|MID-ATLANTIC RIDGE,OCEAN|ATL...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,26640.0,ABP0002-019-002,URI900886,6585,ABP0002-019,POINT(-13.94 -14.17),-2940,-3620,{0.01},"{SPREADING_CENTER|MID-ATLANTIC RIDGE,OCEAN|ATL...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,26641.0,ABP0002-021-001,NaN,6586,ABP0002-021,POINT(-23.26 -22.01),-4770,-4900,{0.01},"{OCEAN|ATLANTIC,SPREADING_CENTER|MID-ATLANTIC ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,26642.0,ABP0002-021-010,NaN,6586,ABP0002-021,POINT(-23.26 -22.01),-4770,-4900,{0.01},"{OCEAN|ATLANTIC,SPREADING_CENTER|MID-ATLANTIC ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,26643.0,ABP0002-021-012,NaN,6586,ABP0002-021,POINT(-23.26 -22.01),-4770,-4900,{0.01},"{OCEAN|ATLANTIC,SPREADING_CENTER|MID-ATLANTIC ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
rq = reqs.get(petdb_url+'/'+example_sample,verify=False)

In [6]:
response_data = rq.json()
print(response_data)

{'count': 1, 'data': {'specimen_num': 33513, 'specimen_code': 'ARGAMPH-001', 'igsn': 'N/A', 'archive_institution': None, 'specimen_material': 'ROCK', 'taxon': [{'rock_type': 'igneous:volcanic:mafic', 'rock_class': 'BASALT', 'source': [{'citation_num': '215', 'citation_code': 'ENGEL,1964'}, {'citation_num': '126', 'citation_code': 'ENGEL,1965'}, {'citation_num': '350', 'citation_code': 'HART,1969'}, {'citation_num': '371', 'citation_code': 'HART,1971'}, {'citation_num': '348', 'citation_code': 'HEDGE,1970'}, {'citation_num': '185', 'citation_code': 'KAY,1970'}, {'citation_num': '388', 'citation_code': 'MACDOUGALL,1986'}, {'citation_num': '385', 'citation_code': 'PINEAU,1976'}, {'citation_num': '157', 'citation_code': 'PINEAU,1983'}]}, {'rock_type': 'igneous:volcanic:mafic', 'rock_class': 'THOLEIITE', 'source': [{'citation_num': '346', 'citation_code': 'SUBBARAO,1972'}, {'citation_num': '201', 'citation_code': 'SUN,1980'}, {'citation_num': '748', 'citation_code': 'TATSUMOTO,1966'}]}], 'rock_class_details': [{'rock_class_detail': 'HIGH-AL THOLEIITE', 'source': [{'citation_num': '385', 'citation_code': 'PINEAU, 1976'}]}], 'specimen_names': [{'specimen_name': 'AMPH1D', 'source': [{'citation_num': '385', 'citation_code': 'PINEAU, 1976'}]}, {'specimen_name': 'AMPH-1D', 'source': [{'citation_num': '157', 'citation_code': 'PINEAU, 1983'}]}, {'specimen_name': 'AMPH 1-PDIP', 'source': [{'citation_num': '371', 'citation_code': 'HART, 1971'}]}, {'specimen_name': 'AMPH D1', 'source': [{'citation_num': '185', 'citation_code': 'KAY, 1970'}]}, {'specimen_name': 'AMPH-D1', 'source': [{'citation_num': '388', 'citation_code': 'MACDOUGALL, 1986'}]}, {'specimen_name': 'AMPH D-1', 'source': [{'citation_num': '201', 'citation_code': 'SUN, 1980'}]}, {'specimen_name': 'AMPH PD1-P', 'source': [{'citation_num': '350', 'citation_code': 'HART, 1969'}]}, {'specimen_name': 'D1', 'source': [{'citation_num': '215', 'citation_code': 'ENGEL, 1964'}]}, {'specimen_name': 'PD-1', 'source': [{'citation_num': '348', 'citation_code': 'HEDGE, 1970'}]}, {'specimen_name': 'PD1', 'source': [{'citation_num': '748', 'citation_code': 'TATSUMOTO, 1966'}]}, {'specimen_name': 'PV D-1', 'source': [{'citation_num': '126', 'citation_code': 'ENGEL, 1965'}]}, {'specimen_name': 'S-9', 'source': [{'citation_num': '346', 'citation_code': 'SUBBARAO, 1972'}]}], 'specimen_comments': [], 'alterations': [{'alteration': 'FRESH', 'source': [{'citation_num': '350', 'citation_code': 'HART, 1969'}, {'citation_num': '388', 'citation_code': 'MACDOUGALL, 1986'}]}], 'rock_textures': [{'rock_texture': 'FINE-GRAINED PORPHYRITIC BASALT; CA. 30% PLAG PC (AN80)', 'source': [{'citation_num': '201', 'citation_code': 'SUN, 1980'}]}, {'rock_texture': 'FINE-GRAINED, PORPHYRITIC; CA. 30% PLAG PC (AN80)', 'source': [{'citation_num': '185', 'citation_code': 'KAY, 1970'}]}, {'rock_texture': 'GLASSY BASALT WITH CA. 25% PLAG PC UP TO 0.7CM', 'source': [{'citation_num': '350', 'citation_code': 'HART, 1969'}]}, {'rock_texture': 'PORPHYRITIC WITH GLASSY TO MICROCRYSTALLINE GM', 'source': [{'citation_num': '215', 'citation_code': 'ENGEL, 1964'}]}], 'geological_ages': [], 'station_num': 2537, 'station_code': 'ARGAMPH-001', 'lat_label': '7.83°S', 'long_label': '108.13°W', 'points': [{'latitude': -7.83, 'longitude': -108.13, 'text': '7.83°S/108.13°W'}], 'centerLat': -7.83, 'centerLong': -108.13, 'elevation_min': -2952, 'elevation_max': -2952, 'location_precisions': ['0.01'], 'geographic_location': ['OCEAN|PACIFIC', 'SPREADING_CENTER|EAST PACIFIC RISE'], 'tectonic_settings': ['SPREADING_CENTER'], 'expedition_num': 321, 'expedition_code': 'ARGAMPH', 'sampling_technique_code': None, 'sampling_technique_name': None, 'analyzed_samples': ['ARGAMPH-001-27579', 'ARGAMPH-001-27773', 'ARGAMPH-001-29056', 'ARGAMPH-001-29057', 'ARGAMPH-001-29100', 'ARGAMPH-001-32604', 'ARGAMPH-001-32605', 'ARGAMPH-001-32941', 'ARGAMPH-001-32942', 'ARGAMPH-001-42816', 'ARGAMPH-001-42817', 'ARGAMPH-001-42845', 'ARGAMPH-001-42864', 'ARGAMPH-001-630956', 'ARGAMPH-001-63749', 'ARGAMPH-001-63750', 'ARGAMPH-001-63751', 'ARGAMPH-001-63752', 'ARGAMPH-001-65797', 'ARGAMPH-001-67732', 'ARGAMPH-001-69456', 'ARGAMPH-001-69457', 'ARGAMPH-001-83542', 'ARGAMPH-001-95110']}}

In [7]:
#specimen_numbers = []

results = response_data['data']['specimen_num'], response_data['data']['taxon']
results
# results_dataFrame = pd.DataFrame.from_dict(json_normalize(results))

(33513,
 [{'rock_type': 'igneous:volcanic:mafic',
   'rock_class': 'BASALT',
   'source': [{'citation_num': '215', 'citation_code': 'ENGEL,1964'},
    {'citation_num': '126', 'citation_code': 'ENGEL,1965'},
    {'citation_num': '350', 'citation_code': 'HART,1969'},
    {'citation_num': '371', 'citation_code': 'HART,1971'},
    {'citation_num': '348', 'citation_code': 'HEDGE,1970'},
    {'citation_num': '185', 'citation_code': 'KAY,1970'},
    {'citation_num': '388', 'citation_code': 'MACDOUGALL,1986'},
    {'citation_num': '385', 'citation_code': 'PINEAU,1976'},
    {'citation_num': '157', 'citation_code': 'PINEAU,1983'}]},
  {'rock_type': 'igneous:volcanic:mafic',
   'rock_class': 'THOLEIITE',
   'source': [{'citation_num': '346', 'citation_code': 'SUBBARAO,1972'},
    {'citation_num': '201', 'citation_code': 'SUN,1980'},
    {'citation_num': '748', 'citation_code': 'TATSUMOTO,1966'}]}])

In [8]:
results = response_data['data']['specimen_num']
results1 = response_data['data']['taxon']
print(results, results1)

#con = pd.concat(results, results1)

33513 [{'rock_type': 'igneous:volcanic:mafic', 'rock_class': 'BASALT', 'source': [{'citation_num': '215', 'citation_code': 'ENGEL,1964'}, {'citation_num': '126', 'citation_code': 'ENGEL,1965'}, {'citation_num': '350', 'citation_code': 'HART,1969'}, {'citation_num': '371', 'citation_code': 'HART,1971'}, {'citation_num': '348', 'citation_code': 'HEDGE,1970'}, {'citation_num': '185', 'citation_code': 'KAY,1970'}, {'citation_num': '388', 'citation_code': 'MACDOUGALL,1986'}, {'citation_num': '385', 'citation_code': 'PINEAU,1976'}, {'citation_num': '157', 'citation_code': 'PINEAU,1983'}]}, {'rock_type': 'igneous:volcanic:mafic', 'rock_class': 'THOLEIITE', 'source': [{'citation_num': '346', 'citation_code': 'SUBBARAO,1972'}, {'citation_num': '201', 'citation_code': 'SUN,1980'}, {'citation_num': '748', 'citation_code': 'TATSUMOTO,1966'}]}]

In [32]:
df1= pd.DataFrame.from_dict(json_normalize(response_data['data']), orient='columns')
df1

[0]

In [10]:
#df = pd.DataFrame.from_dict(json_normalize(response_data['data']['taxon']), orient='columns')
#df
#df_1=pd.DataFrame(dict([(k,pd.Series(v)) for k,v in response_data['data'].items()]))
#pd.json_normalize(json.loads(df_1.to_json(orient="records")))

In [11]:
#df1.explode('taxon')

In [12]:
nn = df1['taxon'].apply(pd.Series)
json_stru=json.loads(nn.to_json(orient='records'))
new_df = pd.json_normalize(json_stru)
new_df

,0.rock_type,0.rock_class,0.source,1.rock_type,1.rock_class,1.source
0,igneous:volcanic:mafic,BASALT,"[{'citation_num': '215', 'citation_code': 'ENG...",igneous:volcanic:mafic,THOLEIITE,"[{'citation_num': '346', 'citation_code': 'SUB..."

In [13]:
df = pd.DataFrame.from_dict(json_normalize(response_data['data']['taxon']), orient='columns')
pd.json_normalize(json.loads(df.to_json(orient="records")))
df_explode = df.explode('source')
df_explode

,rock_type,rock_class,source
0,igneous:volcanic:mafic,BASALT,"{'citation_num': '215', 'citation_code': 'ENGE..."
0,igneous:volcanic:mafic,BASALT,"{'citation_num': '126', 'citation_code': 'ENGE..."
0,igneous:volcanic:mafic,BASALT,"{'citation_num': '350', 'citation_code': 'HART..."
0,igneous:volcanic:mafic,BASALT,"{'citation_num': '371', 'citation_code': 'HART..."
0,igneous:volcanic:mafic,BASALT,"{'citation_num': '348', 'citation_code': 'HEDG..."
0,igneous:volcanic:mafic,BASALT,"{'citation_num': '185', 'citation_code': 'KAY,..."
0,igneous:volcanic:mafic,BASALT,"{'citation_num': '388', 'citation_code': 'MACD..."
0,igneous:volcanic:mafic,BASALT,"{'citation_num': '385', 'citation_code': 'PINE..."
0,igneous:volcanic:mafic,BASALT,"{'citation_num': '157', 'citation_code': 'PINE..."
1,igneous:volcanic:mafic,THOLEIITE,"{'citation_num': '346', 'citation_code': 'SUBB..."
1,igneous:volcanic:mafic,THOLEIITE,"{'citation_num': '201', 'citation_code': 'SUN,..."
1,igneous:volcanic:mafic,THOLEIITE,"{'citation_num': '748', 'citation_code': 'TATS..."

In [14]:
pd.json_normalize(df_explode['source'])


#df_1=pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in response_data['data'].items() ]))

#pd.json_normalize(json.loads(df_1.to_json(orient="records")))

   citation_num    citation_code
0           215       ENGEL,1964
1           126       ENGEL,1965
2           350        HART,1969
3           371        HART,1971
4           348       HEDGE,1970
5           185         KAY,1970
6           388  MACDOUGALL,1986
7           385      PINEAU,1976
8           157      PINEAU,1983
9           346    SUBBARAO,1972
10          201         SUN,1980
11          748   TATSUMOTO,1966

Data Wrangling Progress

I have worked on and am still working on parsing the data so that i have two columns(specimen_num, Citation_num), each row would have a unique specimen_num. I managed to get a dataframe with the citation_number column separated from the other columns. I tried concatinating that with the specimen_num column, but keep getting a type_error message (i will continue working on fixing that issue). I will also try to get all the data(citation numbers) for the specific specimen_num to fit in one row, compared to 11 rows as shown above. 

I also rather suspect that i may have to eventually write functions to normalize and explode (pandas) for all the dictionaries and lists in every column, not just taxon ???

In [50]:
columns = ['specimen_num','citation_num', 'citation_code','specimen_code','igsn','archive_institution','specimen_material','taxon','taxon_rock_type', 'taxon_rock_class','rock_class_detail','rock_class_details','specimen_names','specimen_name','specimen_comments','specimen_comment','alteration','alterations','rock_textures','rock_texture','geological_ages','geological_ages__prefix','geological_ages__age','geological_ages__min','geological_ages__max','points_latitude','points_longitude','points_text','station_num', 'station_code','lat_label', 'long_label','points','centerLat','centerLong', 'elevation_min','elevation_max','location_precisions','geographic_location','tectonic_settings','expedition_num','expedition_code','sampling_technique_code','sampling_technique_name','analyzed_samples']
dataFrameDict = {}

#ini dict for pandas 
for key in columns:
    dataFrameDict[key] = []

for index, row in df1.iterrows():
    print(index)
    for column in columns:
        if column not in df1.columns:
            # print(column)
            pass
        elif column == 'rock_class_details' or column == 'alterations' or column == 'specimen_comments':
            if len(row[column]) != 0:
                if column == 'rock_class_details':
                    dataFrameDict['rock_class_detail'].append(row[column][0]['rock_class_detail'])
                elif column == 'alterations':
                    dataFrameDict['alteration'].append(row[column][0]['alteration'])
                elif column == 'specimen_comments':
                    dataFrameDict['specimen_comment'].append(row[column][0]['comment'])
            else:
                if column == 'rock_class_details':
                    dataFrameDict['rock_class_detail'].append('None')
                elif column == 'alterations':
                    dataFrameDict['alteration'].append('None')
                elif column == 'specimen_comments':
                    dataFrameDict['specimen_comment'].append('None')
        elif column == 'points':
            if len(row[column]) > 0 :
                dataFrameDict['points_latitude'].append(row[column][0]['latitude'])
                dataFrameDict['points_longitude'].append(row[column][0]['longitude'])
                dataFrameDict['points_text'].append(row[column][0]['text'])
        elif column == 'geological_ages':
            if len(row[column])>0:
                dataFrameDict['geological_ages__prefix'].append(row[column][0]['prefix'])
                dataFrameDict['geological_ages__age'].append(row[column][0]['age'])
                dataFrameDict['geological_ages__min'].append(row[column][0]['age_min'])
                dataFrameDict['geological_ages__max'].append(row[column][0]['age_max'])
        elif column == 'specimen_names':
         
            print(row[column])
            # print(len(row[column]))
            # dataFrameDict['specimen_name'].append(row[column]['specimen_name'])
            # dataFrameDict[column].append(row[column])
        elif column == 'taxon':
    
            for item in row[column]:
                print(item)
                print('\n')
            # print(len(row[column]))
            # dataFrameDict['citation_num'].append(row[column]['source']['citation_num'])
            # dataFrameDict['citation_code'].append(row[column]['source']['citation_code'])
            # dataFrameDict['taxon_rock_class'].append(row[column][0]['rock_class'])
            # dataFrameDict['taxon_rock_type'].append(row[column][0]['rock_type'])
        else:
            dataFrameDict[column].append(row[column])

# print(dataFrameDict)
# df_from_stuff = pd.DataFrame(data=dataFrameDict)
# df_from_stuff

0
{'rock_type': 'igneous:volcanic:mafic', 'rock_class': 'BASALT', 'source': [{'citation_num': '215', 'citation_code': 'ENGEL,1964'}, {'citation_num': '126', 'citation_code': 'ENGEL,1965'}, {'citation_num': '350', 'citation_code': 'HART,1969'}, {'citation_num': '371', 'citation_code': 'HART,1971'}, {'citation_num': '348', 'citation_code': 'HEDGE,1970'}, {'citation_num': '185', 'citation_code': 'KAY,1970'}, {'citation_num': '388', 'citation_code': 'MACDOUGALL,1986'}, {'citation_num': '385', 'citation_code': 'PINEAU,1976'}, {'citation_num': '157', 'citation_code': 'PINEAU,1983'}]}


{'rock_type': 'igneous:volcanic:mafic', 'rock_class': 'THOLEIITE', 'source': [{'citation_num': '346', 'citation_code': 'SUBBARAO,1972'}, {'citation_num': '201', 'citation_code': 'SUN,1980'}, {'citation_num': '748', 'citation_code': 'TATSUMOTO,1966'}]}


[{'specimen_name': 'AMPH1D', 'source': [{'citation_num': '385', 'citation_code': 'PINEAU, 1976'}]}, {'specimen_name': 'AMPH-1D', 'source': [{'citation_num': '157', 'citation_code': 'PINEAU, 1983'}]}, {'specimen_name': 'AMPH 1-PDIP', 'source': [{'citation_num': '371', 'citation_code': 'HART, 1971'}]}, {'specimen_name': 'AMPH D1', 'source': [{'citation_num': '185', 'citation_code': 'KAY, 1970'}]}, {'specimen_name': 'AMPH-D1', 'source': [{'citation_num': '388', 'citation_code': 'MACDOUGALL, 1986'}]}, {'specimen_name': 'AMPH D-1', 'source': [{'citation_num': '201', 'citation_code': 'SUN, 1980'}]}, {'specimen_name': 'AMPH PD1-P', 'source': [{'citation_num': '350', 'citation_code': 'HART, 1969'}]}, {'specimen_name': 'D1', 'source': [{'citation_num': '215', 'citation_code': 'ENGEL, 1964'}]}, {'specimen_name': 'PD-1', 'source': [{'citation_num': '348', 'citation_code': 'HEDGE, 1970'}]}, {'specimen_name': 'PD1', 'source': [{'citation_num': '748', 'citation_code': 'TATSUMOTO, 1966'}]}, {'specimen_name': 'PV D-1', 'source': [{'citation_num': '126', 'citation_code': 'ENGEL, 1965'}]}, {'specimen_name': 'S-9', 'source': [{'citation_num': '346', 'citation_code': 'SUBBARAO, 1972'}]}]