In [30]:
import numpy as np
import pandas as pd
import requests as reqs
import matplotlib.pyplot as plt
%matplotlib inline
import json
from pandas.io.json import json_normalize

In [31]:
Specimen_URL = r"C:\Users\natasha\Downloads\specimen_summary_marine_only (2).csv"
petdb_url = 'https://ecapi.earthchem.org/specimen'
example_sample = '26639'

In [32]:
Specimen_id = pd.read_csv(Specimen_URL, low_memory=False)

In [33]:
Specimen_id['specimen_num'] = Specimen_id['specimen_num'].astype(str)
Specimen_id.head()

,specimen_num,specimen_code,igsn,station_num,station_code,geometry_text,elevation_min,elevation_max,location_precisions,geographic_location,...,Unnamed: 388,Unnamed: 389,Unnamed: 390,Unnamed: 391,Unnamed: 392,Unnamed: 393,Unnamed: 394,Unnamed: 395,Unnamed: 396,Unnamed: 397
0,26639.0,ABP0002-019-001,NaN,6585,ABP0002-019,POINT(-13.94 -14.17),-2940,-3620,{0.01},"{SPREADING_CENTER|MID-ATLANTIC RIDGE,OCEAN|ATL...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,26640.0,ABP0002-019-002,URI900886,6585,ABP0002-019,POINT(-13.94 -14.17),-2940,-3620,{0.01},"{SPREADING_CENTER|MID-ATLANTIC RIDGE,OCEAN|ATL...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,26641.0,ABP0002-021-001,NaN,6586,ABP0002-021,POINT(-23.26 -22.01),-4770,-4900,{0.01},"{OCEAN|ATLANTIC,SPREADING_CENTER|MID-ATLANTIC ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,26642.0,ABP0002-021-010,NaN,6586,ABP0002-021,POINT(-23.26 -22.01),-4770,-4900,{0.01},"{OCEAN|ATLANTIC,SPREADING_CENTER|MID-ATLANTIC ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,26643.0,ABP0002-021-012,NaN,6586,ABP0002-021,POINT(-23.26 -22.01),-4770,-4900,{0.01},"{OCEAN|ATLANTIC,SPREADING_CENTER|MID-ATLANTIC ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
rq = reqs.get(petdb_url+'/'+example_sample,verify=False)

C:\Users\natasha\anaconda3\lib\site-packages\urllib3\connectionpool.py:1004: InsecureRequestWarning: Unverified HTTPS request is being made to host 'ecapi.earthchem.org'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning,

In [35]:
response_data = rq.json()
print(response_data)

{'count': 1, 'data': {'specimen_num': 26639, 'specimen_code': 'ABP0002-019-001', 'igsn': 'N/A', 'archive_institution': None, 'specimen_material': 'ROCK', 'taxon': [{'rock_type': 'igneous:volcanic:mafic', 'rock_class': 'BASALT', 'source': [{'citation_num': '1086', 'citation_code': 'MELSON,2003'}]}], 'rock_class_details': [], 'specimen_names': [{'specimen_name': 'VG8462', 'source': [{'citation_num': '1086', 'citation_code': 'MELSON, 2003'}]}], 'specimen_comments': [], 'alterations': [], 'rock_textures': [], 'geological_ages': [{'prefix': '', 'age': '', 'age_min': '', 'age_max': '1', 'source': [{'citation_num': '1086', 'citation_code': 'MELSON, 2003'}]}], 'station_num': 6585, 'station_code': 'ABP0002-019', 'lat_label': '14.17°S', 'long_label': '13.94°W', 'points': [{'latitude': -14.17, 'longitude': -13.94, 'text': '14.17°S/13.94°W'}], 'centerLat': -14.17, 'centerLong': -13.94, 'elevation_min': -2940, 'elevation_max': -3620, 'location_precisions': ['0.01'], 'geographic_location': ['OCEAN|ATLANTIC', 'SPREADING_CENTER|MID-ATLANTIC RIDGE'], 'tectonic_settings': ['SPREADING_CENTER'], 'expedition_num': 789, 'expedition_code': 'ABP0002', 'sampling_technique_code': None, 'sampling_technique_name': None, 'analyzed_samples': ['ABP0002-019-001-117895']}}

In [36]:
specimen_numbers = []
print(response_data['data']['specimen_num'])

26639

In [37]:
taxon_citation_numbers = []
for entry in response_data['data']['taxon']: 
    for item in entry['source']:
        taxon_citation_numbers.append(item['citation_num'])
# This makes the numbers unique
taxon_citation_numbers = list(set(taxon_citation_numbers))
print(taxon_citation_numbers)

['1086']

In [38]:
team = pd.DataFrame(list(zip(specimen_numbers, taxon_citation_numbers)))

In [39]:
print (team)

Empty DataFrame
Columns: []
Index: []

In [40]:
team.head()

Empty DataFrame
Columns: []
Index: []

In [41]:
print(team.head())

Empty DataFrame
Columns: []
Index: []

In [55]:
df = pd.DataFrame(response_data, columns=['specimen_numbers', 'taxon_citation_numbers'])
team = df(list(zip(specimen_numbers, taxon_citation_numbers))) 
team

TypeError: 'DataFrame' object is not callable

AttributeError: 'dict' object has no attribute 'append'