In [1]:
import numpy as np
import pandas as pd
import requests as reqs
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
Specimen_URL = r"C:\Users\natasha\Downloads\specimen_summary_marine_only (2).csv"

In [10]:
Specimen_id = pd.read_csv(Specimen_URL, low_memory=False)

In [4]:
Specimen_id.head()

,specimen_num,specimen_code,igsn,station_num,station_code,geometry_text,elevation_min,elevation_max,location_precisions,geographic_location,...,Unnamed: 388,Unnamed: 389,Unnamed: 390,Unnamed: 391,Unnamed: 392,Unnamed: 393,Unnamed: 394,Unnamed: 395,Unnamed: 396,Unnamed: 397
0,26639.0,ABP0002-019-001,NaN,6585,ABP0002-019,POINT(-13.94 -14.17),-2940,-3620,{0.01},"{SPREADING_CENTER|MID-ATLANTIC RIDGE,OCEAN|ATL...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,26640.0,ABP0002-019-002,URI900886,6585,ABP0002-019,POINT(-13.94 -14.17),-2940,-3620,{0.01},"{SPREADING_CENTER|MID-ATLANTIC RIDGE,OCEAN|ATL...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,26641.0,ABP0002-021-001,NaN,6586,ABP0002-021,POINT(-23.26 -22.01),-4770,-4900,{0.01},"{OCEAN|ATLANTIC,SPREADING_CENTER|MID-ATLANTIC ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,26642.0,ABP0002-021-010,NaN,6586,ABP0002-021,POINT(-23.26 -22.01),-4770,-4900,{0.01},"{OCEAN|ATLANTIC,SPREADING_CENTER|MID-ATLANTIC ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,26643.0,ABP0002-021-012,NaN,6586,ABP0002-021,POINT(-23.26 -22.01),-4770,-4900,{0.01},"{OCEAN|ATLANTIC,SPREADING_CENTER|MID-ATLANTIC ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
#rq = reqs.get(Specimen_id, verify = False)