In [ ]:
import numpy as np
import pandas as pd
import requests as reqs
from matplotlib.pyplot import plt
%mathplotlib inline

In [2]:
URL = r"C:\Users\natasha\Downloads\petdb_specimen_ml.xlsx"

In [3]:
Specimen_id = pd.read_excel(URL)

In [5]:
Specimen_id[:10]

,specimen_num,specimen_code,specimen_name,taxon,parent_taxon,station_num,station_code,geometry_text,elevation_min,elevation_max,expedition_num,expedition_code,feature_of_interest_type_name,feature_of_interest_cv_name,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,25947,*02-TB-C1,02-TB-C1,BASALT,igneous:volcanic:mafic,13990,*02-TB-C1,POINT(-149.47 -23.37),NaN,NaN,1723.0,nr,OCEAN,PACIFIC,NaN,NaN,NaN
1,25947,*02-TB-C1,02-TB-C1,BASALT,igneous:volcanic:mafic,13990,*02-TB-C1,POINT(-149.47 -23.37),NaN,NaN,1723.0,nr,OCEAN_ISLAND,TUBUAI,NaN,NaN,NaN
2,25947,*02-TB-C1,02-TB-C1,BASALT,igneous:volcanic:mafic,13990,*02-TB-C1,POINT(-149.47 -23.37),NaN,NaN,1723.0,nr,FRACTURE_ZONE,AUSTRAL,NaN,NaN,NaN
3,25948,*02-TB-C2,02-TB-C2,BASALT,igneous:volcanic:mafic,14175,*02-TB-C2,POINT(-149.47 -23.37),NaN,NaN,1723.0,nr,OCEAN,PACIFIC,NaN,NaN,NaN
4,25948,*02-TB-C2,02-TB-C2,BASALT,igneous:volcanic:mafic,14175,*02-TB-C2,POINT(-149.47 -23.37),NaN,NaN,1723.0,nr,OCEAN_ISLAND,TUBUAI,NaN,NaN,NaN
5,25948,*02-TB-C2,02-TB-C2,BASALT,igneous:volcanic:mafic,14175,*02-TB-C2,POINT(-149.47 -23.37),NaN,NaN,1723.0,nr,FRACTURE_ZONE,AUSTRAL,NaN,NaN,NaN
6,25949,*02-TB-C4,02-TB-C4,BASALT,igneous:volcanic:mafic,14176,*02-TB-C4,POINT(-149.47 -23.37),NaN,NaN,1723.0,nr,OCEAN,PACIFIC,NaN,NaN,NaN
7,25949,*02-TB-C4,02-TB-C4,BASALT,igneous:volcanic:mafic,14176,*02-TB-C4,POINT(-149.47 -23.37),NaN,NaN,1723.0,nr,OCEAN_ISLAND,TUBUAI,NaN,NaN,NaN
8,25949,*02-TB-C4,02-TB-C4,BASALT,igneous:volcanic:mafic,14176,*02-TB-C4,POINT(-149.47 -23.37),NaN,NaN,1723.0,nr,FRACTURE_ZONE,AUSTRAL,NaN,NaN,NaN
9,25950,*02-TB-C8,02-TB-C8,BASALT,igneous:volcanic:mafic,14073,*02-TB-C8,POINT(-149.47 -23.37),NaN,NaN,1723.0,nr,OCEAN,PACIFIC,NaN,NaN,NaN

NameError: name 'Sample_id' is not defined